#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                /* If Bottom Pinky hits GP6, it types Q. If Home Row hits GP7, it types W. */
                &kp Q &kp W &kp E &kp R &kp T
                &kp A &kp S &kp D &kp F &kp G
                &kp Z &kp X &kp C &kp V &kp B
                            &kp N1 &kp N2
            >;
        };
    };
};