manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: badjeff
      url-base: https://github.com/badjeff
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    # CHANGE: Switch to badjeff's driver which has better RP2040 support
    - name: zmk-input-ps2-gpio
      remote: badjeff
      revision: main
  self:
    path: config