manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-ps2-driver
      path: drivers/zmk-ps2-driver
      local: true  # <--- ADD THIS LINE
  self:
    path: config