manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    # LOCAL PATH - NO GITHUB 404 POSSIBLE
    - name: kb_zmk_ps2_mouse_trackpoint_driver
      path: config/drivers/kb_zmk_ps2_mouse_trackpoint_driver
  self:
    path: config