on: [push, pull_request, workflow_dispatch]

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:2.5
    name: Build
    strategy:
      # Define the combinations of boards, shields, and keymaps to build.
      matrix:
        # Use the Nice!Nano V2 target, the most common ZMK controller.
        board: ["nice_nano_v2"] 
        # Build for the left and right halves of the Sweep V2 shield.
        shield: ["sweep_v2_left", "sweep_v2_right"] 
        # Use the keymap file you created: config/sweep.keymap
        keymap: ["sweep"]
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('manifest-dir/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: West Init
        run: west init -l config
      - name: West Update
        run: west update
      - name: West Zephyr export
        run: west zephyr-export
      # ----------------------------------------------------------------------------------
      # The main build step iterates over the matrix defined above.
      # ----------------------------------------------------------------------------------
      - name: West Build (${{ matrix.shield }})
        run: west build -s zmk/app -b ${{ matrix.board }} -- -DSHIELD=${{ matrix.shield }} -DZMK_CONFIG="${GITHUB_WORKSPACE}/config" -DDT_OVERLAY_FILE="config/${{ matrix.keymap }}.keymap"

      - name: Rename zmk.uf2
        run: cp build/zephyr/zmk.uf2 ${{ matrix.shield }}_${{ matrix.board }}.uf2
        
      - name: Archive (${{ matrix.shield }})
        uses: actions/upload-artifact@v4
        with:
          name: firmware-${{ matrix.shield }}
          path: ${{ matrix.shield }}_${{ matrix.board }}.uf2