name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    strategy:
      fail-fast: false
      matrix:
        board: [rp2040_zero]
        shield: [sweep_bling_left]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: West Init
        uses: zmkfirmware/zephyr-action@v1
        with:
          args: init -l config

      - name: West Update
        uses: zmkfirmware/zephyr-action@v1
        with:
          args: update

      - name: West Config
        uses: zmkfirmware/zephyr-action@v1
        with:
          args: config zephyr.base-prefer configfile

      - name: West Build
        uses: zmkfirmware/zephyr-action@v1
        with:
          args: build -s zmk/app -b ${{ matrix.board }} -- 
            -DSHIELD=${{ matrix.shield }} 
            -DZMK_CONFIG="${{ github.workspace }}/config" 
            -DZMK_EXTRA_MODULES="${{ github.workspace }}/config/drivers/zmk-ps2-driver"

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: '${{ matrix.board }}-${{ matrix.shield }}-zmk'
          path: build/zephyr/zmk.uf2